body {
    overscroll-behavior: contain;
}
#gameover {
    color: #cc0000;
    font-weight: bold;
    display: none;
}
.gamecol {
    border: 1px solid black;
    padding: 0;
    width: 25%;
}
.colnumber {
    width: 100%;
    margin: 0;
}
#scorediv {
    text-align: center;
}
.score {
    display:inline;
}
/* Number colors */
.num2 {
    background-color: #fff0b3;
}
.num4 {
    background-color: #ffeb99;
}
.num8 {
    background-color: #ffe680;
}
.num16 {
    background-color: #ffe066;
}
.num32 {
    background-color: #ffdb4d;
}
.num64 {
    background-color: #ffd633;
}
.num128 {
    background-color: #ffd11a;
}
.num256 {
    background-color: #ffcc00;
}
.num512 {
    background-color: #ffcc80;
}
.num1024 {
    background-color: #ffc266;
}
.num2048 {
    background-color: #ffb84d;
}
.num4192 {
    background-color: #ffad33;
}
.num8192 {
    background-color: #ffa31a;
}
.num16384 {
    background-color: #ff9900;
}
.num32768 {
    background-color: #e68a00;
}
.num65536 {
    background-color: #cc7a00;
}