body {
    background-color: #F5EFE3;
    overscroll-behavior: contain;
}
#title {
    font-weight: bold;
}
#newgame {
    width: 100%;
    background-color: #3C3528;
    border-color: #3C3528;
}
#gameover {
    color: #cc0000;
    font-weight: bold;
    display: none;
}
.game {
    background-color: #484848;
    border: 10px solid #484848;
    border-radius: 10px;
}
.gamecol {
    border: 5px solid #484848;
    padding: 0;
    width: 25%;
    background-color: #808080;
    border-radius: 10px;
}
.colnumber {
    width: 100%;
    margin: 0;
}
#scorediv {
    text-align: center;
}
.score {
    display: inline;
}
/* Number colors */
.num2 {
    background-color: #eee4da;
}
.num4 {
    background-color: #ede0c8;
}
.num8 {
    background-color: #f2b179;
}
.num16 {
    background-color: #f59563;
}
.num32 {
    background-color: #f67c5f;
}
.num64 {
    background-color: #f65e3b;
}
.num128 {
    background-color: #edcf72;
}
.num256 {
    background-color: #edcc61;
}
.num512 {
    background-color: #edc850;
}
.num1024 {
    background-color: #edc53f;
}
.num2048 {
    background-color: #edc22e;
}
.num4096 {
    background-color: #a2b9bc;
}
.num8192 {
    background-color: #b2ad7f;
}
.num16384 {
    background-color: #878f99;
}
.num32768 {
    background-color: #eca1a6;
}
.num65536 {
    background-color: #6b5b95;
}